Repository michelada/ektar: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, csslint, standard, sorbet

eslint:
  tags: javascript style
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

csslint:
  tags: stylesheets style
  run: yarn prettier --write {staged_files} && yarn stylelint --fix {staged_files} && git add {staged_files}

standard:
  tags: backend style
  run: bundle exec standardrb

sorbet:
  tags: backend style
  run: bundle exec srb tc {all_files}

[FIX] current_user nil when user is not logged and resourceful controller is used
  app/views/ektar/application/index.html.erb
Due: none

& missing
  app/views/ektar/application/_resource.html.erb
Due: none

[MERGE] all migrations into one
  db/migrate/20190802171315_create_ektar_organizations.rb
  db/migrate/20190806235122_create_ektar_users.rb
  db/migrate/20190811202814_create_active_storage_tables.active_storage.rb
  db/migrate/20200114181814_add_uuid_to_users.rb
  db/migrate/20200114185239_create_ektar_memberships.rb
  db/migrate/20200114212225_add_superadmin_to_user.rb
  db/migrate/20200114213929_add_postgress_enum_role.rb
  db/migrate/20200115054732_remane_column_on_users_table.rb
  db/migrate/20200115164543_add_active_to_membership.rb
  db/migrate/20200115165029_add_uuid_to_organization_model.rb
  db/migrate/20200115183733_add_blocked_at_to_users.rb
  db/migrate/20200115214028_create_action_text_tables.action_text.rb
  db/migrate/20200115215819_create_ektar_plans.rb
  db/migrate/20200116171710_asociate_plans_with_organization.rb
  db/migrate/20200123185107_user_password.rb
  db/migrate/20200124211207_add_ip_fields_to_user.rb
  db/migrate/20200127175235_add_owner_to_membership.rb
  db/migrate/20200205000611_add_blocked_at_to_memberships.rb
  db/migrate/20200205183907_create_ektar_used_passwords.rb
  db/migrate/20200209203730_create_ektar_invitations.rb
  db/migrate/20200310174801_setup_ektar.rb
  test/dummy/db/schema.rb
Due: standard, sorbet

[ADD] Rake tasks to make simpler the setup
  lib/tasks/ektar.rake
Due: none

Resolved zeitwerk error of undefined constant
  app/controllers/ektar/admin/select_organization_controller.rb
Due: standard, sorbet

[FIX] moved rails frameworks migrations to another file
  db/migrate/20200310174801_setup_ektar.rb
  db/migrate/20200323162918_rails_frameworks.rb
  test/dummy/db/schema.rb
Due: standard, sorbet

Resolve "Unexpected behavior for `only: []`"
  app/controllers/ektar/admin/users_controller.rb
  app/controllers/ektar/resourceful_controller.rb
  app/controllers/ektar/super_admin/users_controller.rb
Due: standard, sorbet

Fix typos
  app/controllers/ektar/resourceful_controller.rb
Due: standard, sorbet

Adds license
  LICENSE
Due: none

Fix a path
  app/controllers/ektar/sessions_controller.rb
Due: standard, sorbet

Upgrade Ruby and gems
  .ruby-version
  Gemfile.lock
  lib/ektar/version.rb
Due: standard, sorbet

Sessions controller respond to json.
  app/controllers/ektar/sessions_controller.rb
  test/controllers/ektar/sessions_controller_test.rb
Due: standard, sorbet

Refactor password reset
  app/controllers/ektar/accept_invitations_controller.rb
  app/controllers/ektar/admin/invitations_controller.rb
  app/controllers/ektar/application_controller.rb
  app/controllers/ektar/concerns/tokens.rb
  app/controllers/ektar/passwords_controller.rb
  app/javascript/stylesheets/application.scss
  app/mailers/ektar/application_mailer.rb
  app/mailers/ektar/invitation_mailer.rb
  app/policies/application_policy.rb
  app/policies/ektar/application_policy.rb
  app/views/ektar/admin/invitations/_form.html.erb
  app/views/ektar/application/_form.html.erb
  app/views/ektar/application/_submit.html.erb
  app/views/ektar/invitation_mailer/invite.es.html.erb
  app/views/ektar/invitation_mailer/invite.es.text.erb
  app/views/ektar/passwords/edit.html.erb
  app/views/layouts/ektar/users.html.erb
  config/locales/forms.es.yml
  config/locales/mailers.es.yml
  config/locales/views.yml
  config/routes.rb
  lib/ektar.rb
  test/dummy/sorbet/rails-rbi/mailers/application_mailer.rbi
  test/dummy/sorbet/rails-rbi/mailers/ektar/application_mailer.rbi
  test/dummy/sorbet/rails-rbi/mailers/ektar/invitation_mailer.rbi
  test/dummy/sorbet/rails-rbi/routes.rbi
  test/mailers/ektar/invitation_mailer_test.rb
  test/mailers/ektar/user_mailer_test.rb
  test/mailers/previews/ektar/invitation_mailer_preview.rb
Due: csslint, standard, sorbet

Reimplementa el ciclo de solicitar restablecer contraseña.
  Gemfile.lock
  app/controllers/ektar/reset_password_controller.rb
  app/controllers/ektar/reset_passwords_controller.rb
  app/mailers/ektar/reset_password_mailer.rb
  app/views/ektar/reset_password/new.html.erb
  app/views/ektar/reset_password_mailer/reset.es.html.erb
  app/views/ektar/reset_password_mailer/reset.es.text.erb
  app/views/ektar/reset_passwords/create.html.erb
  app/views/ektar/reset_passwords/new.html.erb
  config/locales/forms.es.yml
  config/locales/mailers.es.yml
  config/locales/routes.es.yml
  config/locales/views.yml
  config/routes.rb
  package.json
  test/controllers/ektar/reset_passwords_controller_test.rb
  test/mailers/ektar/invitation_mailer_test.rb
  test/mailers/ektar/reset_password_mailer_test.rb
  yarn.lock
Due: standard, sorbet

Actualiza signatures de Sorbet
  app/controllers/ektar/concerns/tokens.rb
  sorbet/rbi/gems/activejob.rbi
  sorbet/rbi/gems/aws-partitions.rbi
  sorbet/rbi/gems/aws-sdk-core.rbi
  sorbet/rbi/gems/aws-sdk-kms.rbi
  sorbet/rbi/gems/aws-sdk-s3.rbi
  sorbet/rbi/gems/money.rbi
  sorbet/rbi/gems/nokogiri.rbi
  sorbet/rbi/gems/zeitwerk.rbi
  sorbet/rbi/hidden-definitions/errors.txt
  sorbet/rbi/hidden-definitions/hidden.rbi
  sorbet/rbi/sorbet-typed/lib/bundler/all/bundler.rbi
  test/dummy/sorbet/rails-rbi/routes.rbi
Due: standard, sorbet

Actualiza Rails a 6.0.3
  Gemfile.lock
  ektar.gemspec
  sorbet/rbi/hidden-definitions/errors.txt
Due: none

Add Ektar assets pack.
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js.LICENSE.txt
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js.br
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js.gz
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js.map
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js.map.br
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js.map.gz
  public/ektar-packs/manifest.json
  public/ektar-packs/manifest.json.br
  public/ektar-packs/manifest.json.gz
  public/ektar-packs/media/images/ektar-071b246a5b34abc150eff647840dc281.svg
  public/ektar-packs/media/images/ektar-071b246a5b34abc150eff647840dc281.svg.br
  public/ektar-packs/media/images/ektar-071b246a5b34abc150eff647840dc281.svg.gz
  public/ektar-packs/media/images/organization-icon-1267353741593bd411f6d709609bce86.svg
  public/ektar-packs/media/images/organization-icon-1267353741593bd411f6d709609bce86.svg.br
  public/ektar-packs/media/images/organization-icon-1267353741593bd411f6d709609bce86.svg.gz
Due: eslint

Photo/Image upload implementation.
  .gitignore
  app/controllers/ektar/admin/users_controller.rb
  app/controllers/ektar/resourceful_controller.rb
  app/helpers/ektar/application_helper.rb
  app/javascript/controllers/photo_controller.js
  app/javascript/images/photo.svg
  app/javascript/packs/ektar.ts
  app/javascript/stylesheets/application.scss
  app/policies/ektar/application_policy.rb
  app/views/ektar/admin/users/_resource.html.erb
  app/views/ektar/application/_image.html.erb
  app/views/ektar/application/_input.html.erb
  app/views/ektar/application/_rich_text.html.erb
  app/views/ektar/application/_select.html.erb
  config/locales/models.es.yml
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js.LICENSE.txt
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js.br
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js.gz
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js.map
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js.map.br
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js.map.gz
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js.br
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js.gz
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js.map
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js.map.br
  public/ektar-packs/js/ektar-6dc38f47b8cac9ef89ba.js.map.gz
  public/ektar-packs/manifest.json
  public/ektar-packs/manifest.json.br
  public/ektar-packs/manifest.json.gz
Due: eslint, csslint, standard, sorbet

Fixes for select to accept Rails options.
  app/controllers/ektar/resourceful_controller.rb
  app/helpers/ektar/application_helper.rb
  app/javascript/stylesheets/application.scss
  app/views/ektar/application/_form.html.erb
  app/views/ektar/application/_select.html.erb
  app/views/ektar/application/index.html.erb
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js.br
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js.gz
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js.map
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js.map.br
  public/ektar-packs/js/ektar-4fcccd92b960c8650d54.js.map.gz
  public/ektar-packs/js/ektar-98915bc0c1f255b65090.js
  public/ektar-packs/js/ektar-98915bc0c1f255b65090.js.LICENSE.txt
  public/ektar-packs/js/ektar-98915bc0c1f255b65090.js.br
  public/ektar-packs/js/ektar-98915bc0c1f255b65090.js.gz
  public/ektar-packs/js/ektar-98915bc0c1f255b65090.js.map
  public/ektar-packs/js/ektar-98915bc0c1f255b65090.js.map.br
  public/ektar-packs/js/ektar-98915bc0c1f255b65090.js.map.gz
  public/ektar-packs/manifest.json
  public/ektar-packs/manifest.json.br
  public/ektar-packs/manifest.json.gz
Due: eslint, csslint, standard, sorbet

Fixes a NIL error when Update action is overriden
  app/controllers/ektar/concerns/update.rb
Due: standard, sorbet

Hotfix: Avoid override of traslation
  app/views/ektar/application/_form.html.erb
  config/locales/forms.es.yml
Due: none

HOTFIX: Update change password URL
  app/views/ektar/reset_password_mailer/reset.es.html.erb
  app/views/ektar/reset_password_mailer/reset.es.text.erb
  config/locales/mailers.es.yml
Due: none

Debug Invitations
  .ruby-version
  app/controllers/ektar/accept_invitations_controller.rb
Due: standard, sorbet

DEBUG Tokens
  app/controllers/ektar/accept_invitations_controller.rb
  app/controllers/ektar/passwords_controller.rb
Due: standard, sorbet

BUG More debug info
  app/controllers/ektar/passwords_controller.rb
Due: standard, sorbet

FIX Reset Password Token mismatch
  app/controllers/ektar/accept_invitations_controller.rb
  app/controllers/ektar/passwords_controller.rb
Due: standard, sorbet

FIX Bug with User's policy
  app/controllers/ektar/resourceful_controller.rb
  app/policies/ektar/user_policy.rb
  app/views/ektar/application/_actions.html.erb
Due: standard, sorbet

Refactor Invitation Acceptance flow.
  app/controllers/ektar/accept_invitations_controller.rb
  app/views/ektar/accept_invitations/new.html.erb
  config/locales/forms.es.yml
  config/locales/views.yml
  config/routes.rb
  lib/ektar/version.rb
  test/controllers/ektar/accept_invitations_controller_test.rb
Due: standard, sorbet

Bugfixes y aplicación de políticas.
  README.md
  app/controllers/ektar/sessions_controller.rb
  app/helpers/ektar/photo_helper.rb
  app/javascript/stylesheets/actiontext.scss
  app/javascript/stylesheets/application.scss
  app/policies/ektar/application_policy.rb
  app/policies/ektar/invitation_policy.rb
  app/policies/ektar/user_policy.rb
  app/views/ektar/admin/users/_resource.html.erb
  app/views/ektar/application/_actions.html.erb
  app/views/ektar/application/_form.html.erb
  app/views/ektar/application/_navbar.html.erb
  app/views/ektar/application/_resource.html.erb
  app/views/ektar/application/_rich_text.html.erb
  app/views/ektar/application/_tools.html.erb
  app/views/ektar/application/edit.html.erb
  app/views/ektar/application/new.html.erb
  config/locales/flash.es.yml
  config/locales/views.yml
  public/ektar-packs/js/ektar-331bcacc3e8da348c0a9.js
  public/ektar-packs/js/ektar-331bcacc3e8da348c0a9.js.br
  public/ektar-packs/js/ektar-331bcacc3e8da348c0a9.js.gz
  public/ektar-packs/js/ektar-331bcacc3e8da348c0a9.js.map
  public/ektar-packs/js/ektar-331bcacc3e8da348c0a9.js.map.br
  public/ektar-packs/js/ektar-331bcacc3e8da348c0a9.js.map.gz
  public/ektar-packs/js/ektar-b7852c8f291016df0831.js
  public/ektar-packs/js/ektar-b7852c8f291016df0831.js.LICENSE.txt
  public/ektar-packs/js/ektar-b7852c8f291016df0831.js.br
  public/ektar-packs/js/ektar-b7852c8f291016df0831.js.gz
  public/ektar-packs/js/ektar-b7852c8f291016df0831.js.map
  public/ektar-packs/js/ektar-b7852c8f291016df0831.js.map.br
  public/ektar-packs/js/ektar-b7852c8f291016df0831.js.map.gz
  public/ektar-packs/manifest.json
  public/ektar-packs/manifest.json.br
  public/ektar-packs/manifest.json.gz
  yarn.lock
Due: eslint, csslint, standard, sorbet

Small fixes
  app/controllers/ektar/resourceful_controller.rb
  app/views/ektar/application/_image.html.erb
  app/views/ektar/application/_input.html.erb
Due: standard, sorbet

Allow to mount Admin namespace on a specific path.
  config/routes.rb
  lib/ektar.rb
  lib/generators/ektar/install/templates/initializer.rb
Due: standard, sorbet

Fix a bug where input_attributes needs 2 params.
  app/controllers/ektar/registrations_controller.rb
  app/views/ektar/registrations/new.html.erb
Due: standard, sorbet

Extract form buttons to its own template.
  app/views/ektar/application/_form.html.erb
  app/views/ektar/application/_form_actions.html.erb
Due: none

Path conditions:
  eslint: any of: *.{js,ts}
  csslint: any of: *.{css,pcss,scss}
  standard: any of: *.rb
  sorbet: any of: *.rb
